<%- include ("../partials/header.ejs")  %>

<h2>You're editing the <%=car.name%></h2>

<form action="/cars/<%=car._id%>?_method=PUT" method="POST">
    <input type="text" value="<%=car.name%>" name="car[name]">
    <input type="text" value="<%=car.image%>" name="car[image]">
    <button>Edit</button>
</form>

<%- include ("../partials/footer.ejs")  %>